<div class="banner">
  <div class="elements">
    <h3 class="intro"><%= t "banner.intro" %></h3>
    <div class="text-center">
      <%= link_to t("banner.btn"), "", class: "btn btn-default btn-md" %>
    </div>
  </div>
  <img class="banner-image"
    src="http://res.cloudinary.com/hkfduthj9/image/upload/v1497514140/1_vgbjyn.jpg" >
</div>
