<p>===============================================</p>
<p>Thank you for your recent order at Framtour10</p>

<p>You can see your order at: <%= link_to "Here", order_url(@order) %></p>

<p>We hope you and your family enjoy our service in the next coming trip.</p>

<p>If you have any question feel free to contact us.</p>

<p>Best regards,</p>

<p>Framtour10</p>
