<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <% flash.each do |message_type, message| %>
      <% if message_type == "notice" %>
        <div class="alert alert-success">
      <% elsif message_type == "alert" %>
        <div class="alert alert-danger">
      <% else %>
        <div class='alert alert-<%= "#{message_type}" %>'>
      <% end %>
        <%= message %>
        <a class="close" data-dismiss="alert">&#215,</a>
      </div>
    <% end %>
  </div>
</div>
